storage: none
source https://api.nuget.org/v3/index.json

framework: netstandard2.0, netcoreapp3.1
nuget FSharp.Core
nuget DSharpPlus
nuget FAKE
nuget Fuchu
nuget FParsec
nuget HtmlAgilityPack
nuget Newtonsoft.Json
nuget Newtonsoft.Json.Bson
nuget YamlDotNet
nuget TextCopy
nuget System.Drawing.Common

source https://gitlab.com/api/v4/projects/28574921/packages/nuget/index.json
storage: none
nuget FSharpMyExt

group Build
    source https://api.nuget.org/v3/index.json
    framework: netstandard2.0
    storage: none

    nuget FSharp.Core
    nuget Fake.Core.ReleaseNotes
    nuget Fake.Core.Target
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
    nuget Farmer