storage: none
source https://api.nuget.org/v3/index.json

framework: netstandard2.0, netcoreapp3.1
nuget FSharp.Core
nuget DSharpPlus
nuget DSharpPlus.Rest
nuget Fuchu
nuget FParsec
nuget HtmlAgilityPack
nuget Newtonsoft.Json
nuget Newtonsoft.Json.Bson
nuget YamlDotNet
nuget TextCopy
nuget SixLabors.ImageSharp == 1.0.4
nuget SixLabors.Fonts == 1.0.0-beta15
nuget SixLabors.ImageSharp.Drawing == 1.0.0-beta13
nuget Svg
nuget MongoDB.Driver
nuget ably.io
nuget dotenv.net

git https://github.com/gretmn102/TextCardsMaker.git
git https://github.com/gretmn102/rp-discord-bot.git

source https://gitlab.com/api/v4/projects/28574921/packages/nuget/index.json
storage: none
nuget FSharpMyExt
nuget DiscordBotExtensions

group Build
    source https://api.nuget.org/v3/index.json
    framework: netstandard2.0
    storage: none

    nuget FSharp.Core
    nuget Fake.Core.ReleaseNotes
    nuget Fake.Core.Target
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
    nuget Farmer
